<% flash.each do |key, value| %>
    <p class="alert alert-<%= key %>">
      <%= value %>
    </p>
  <% end %>
  
  <% @recipes.each do |recipe| %>
    <%= link_to recipe.title, recipe_path(recipe.id) %><br>
  <% end %>
  表示されるはず