<div class="row justify-content-center">
    <div class="col-auto d-flex align-items-center">わんにゃフル!!ディッシュ☆☆☆</div>

    <div class="col-auto">
        <div class="input-group">
            <input type="text" id="txt-search" class="form-control input-group-prepend" placeholder="キーワードを入力"></input>
            <span class="input-group-btn input-group-append">
                <submit type="submit" id="btn-search" class="btn btn-primary"><i class="fas fa-search"></i>検索</submit>
            </span>
        </div>
    </div>
    <% if logged_in? %>
        <div class="col-auto d-flex align-items-center"><%= link_to "レシピ新規作成", procedures_new_path(current_user) %></div>
        <div class="col-auto d-flex align-items-center"><a href="#">作成したレシピ一覧</a></div>
        <div class="col-auto d-flex align-items-center"><a href="#">フォロー済みユーザー一覧</a></div>
        <div class="col-auto d-flex align-items-center"><%= link_to "登録情報", edit_path(current_user) %></div>
        <div class="col-auto d-flex align-items-center"><%= link_to "ユーザー一覧", index_path(current_user) %></div>
        <div class="col-auto d-flex align-items-center"><a href="#">ヘルプ</a></div>
        <div class="col-auto d-flex align-items-center"><%= link_to "ログアウト","/logout",method: :delete %></div>
    <% else %>
        <div class="col-auto d-flex align-items-center"><a href="/signup">新規会員登録</a></div>
        <div class="col-auto d-flex align-items-center"><a href="#">初めての方へ</a></div>
        <div class="col-auto d-flex align-items-center"><a href="#">ヘルプ</a></div>
        <div class="col-auto d-flex align-items-center"><a href="/login">ログイン</a></div>
    <% end %>
</div>
<div class="row">

</div>
