<h1>Posts#index</h1>
<%# form_forはデフォルトでは100% postで送るのでmethod:getを指定している%>
<%= form_for :search, url: result_path, method: :get do |f| %>
<%= f.text_field :title %>
<%= f.submit "検索"%>
<% end %>


<% @posts.each do |post| %>
<%= post.title %><br>
<% end %>